//Breakpoints
$tablets: 768px;
$phones: 480px;
$small-phones: 375px;

@import "./layout/_media.scss";
@import "./layout/_base.scss";
@import "./layout/_normalize.scss";
@import "./blocks/_menu.scss";
@import "./blocks/_header.scss";
@import "./blocks/_phone-number.scss";
@import "./blocks/_hero.scss";
@import "./blocks/_btn.scss";
@import "./blocks/_features.scss";
@import "./blocks/_feature.scss";
@import "./blocks/_section.scss";
@import "./blocks/_headline.scss";
@import "./blocks/_benefits.scss";
@import "./blocks/_benefit.scss";
@import "./blocks/_benefits-section.scss";
@import "./blocks/_reviews.scss";
@import "./blocks/_interactive-avatar.scss";
@import "./blocks/_reviews-section.scss";
@import "./blocks/_order-section.scss";
@import "./blocks/_form.scss";
@import "./blocks/_radio.scss";
@import "./blocks/_fixed-menu.scss";
@import "./blocks/_logo.scss";
@import "./blocks/_map-section.scss";
@import "./blocks/_footer.scss";
@import "./blocks/_socials.scss";
@import "./blocks/_contacts.scss";
@import "./blocks/_hamburger.scss";
@import "./blocks/_sidebar.scss";
@import "./blocks/_slider-section.scss";
@import "./blocks/_slider.scss";
@import "./blocks/_dropdown.scss";
@import "./blocks/_team-section.scss";
@import "./blocks/_team.scss";