$green: #365a49;
$blue: #86c3d7;


body {
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  color: #666666;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body, html {
  height: 100%;
  font-size: 18px;
}
a {
  color: inherit;
}
p {
  margin-top: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
.container {
  margin: 0 auto;
  width: 95%;
  max-width: $containerWidth;
  position: relative;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
img {
  display: block;
  max-width: 100%;
}
footer {
  position: relative;
  width: 100%;
}
