.benefits-section {
  position: relative;
  background: url(../assets/white-leaf.png) left top 57% no-repeat;
  @include tablets {
    background-position: left top 10%;
  }
  @include phones {
    background: none;
  }
  &:before {
    content: url(../assets/raspberry.png);
    position: absolute;
    bottom: rem(-70px);
    left: 0;
  }
}