.btn {
  border-radius: rem(100px);
  padding: rem(18px) rem(33px);
  font-weight: 700;
  letter-spacing: rem(0.65px);
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(19px);
  display: inline-block;
  line-height: 1;
  border: none;

  &-hero {
    margin-bottom: rem(70px);
  }
  &_color_green {
    background: $green;
    color: white;
    &:hover {
      background: white;
      color: $green;
    }
  }
  &_color_transparent {
    background: transparent;
    color:black;
    text-transform: none;
    &:hover {
      color: $green;
    }
  }
}
.btn_white {
  background: white;
  color: $green;
  &:hover {
    background:$green;
    color: white;
  }
}