.btn {
  border-radius: 100px;
  padding: 18px 33px;
  font-weight: 700;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  line-height: 1;

  &-hero {
    margin-bottom: 70px;
  }
}
.btn_white {
  background: white;
  color: $green;
  &:hover {
    background:$green;
    color: white;
  }
}