.hero {
  background:  url(../assets/big-leaf.png) right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: rem(650px);
  color: #fff;
  position: relative;
    @include tablets {
      background-position: right bottom 88%;
    }
  &:before, &:after {
    @include tablets {
      display: none;
    }
  }
  &:before {
    content: url(../assets/greenleaf.png);
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
  }
  &:after {
    content: url(../assets/berries-and-leaves.png);
    position: absolute;
    bottom: rem(-40px);
    right: 0;
  }
}
.hero__title-section {
  width: 46%;

  @include tablets {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
    &:before {
      content: "";
      width: rem(316px);
      height: rem(330px);
      background: url(../assets/hero-bars.png) center center / contain no-repeat;
      margin-bottom: rem(16px);
    }
  }
}
.hero__main-title {
  font-size: rem(48px);
  margin-bottom: rem(8px);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
}
.hero__title-description {
  font-size: rem(21px);
  line-height: 1.2;
  padding-right: 10%;
  margin-bottom: rem(31px);
  @include tablets {
    padding: 0 26%;
  }
  @include phones {
    padding: 0 16%;
  }
  @include small-phones {
    padding: 0 0;
  }
}
.hero__icons-section {
  @include tablets {
    display: none;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);
  background: url(../assets/bars.png) right center / 50% auto no-repeat;

  @include tablets {
    background: none;
  }
}