.interactive-avatar {
  width: rem(80px);
  height: rem(80px);
  position: relative;
}

.interactive-avatar__link {
  display: block;
  height: 100%;
  width: 100%;
  border: rem(6px) solid transparent;
  border-radius: 50%;
  overflow: hidden;

  &:hover, &:focus {
    background: #0f5a47;
    outline: none;
  }
}
.interactive-avatar_active .interactive-avatar__link {
  background: #0f5a47;
  outline: none;
}
.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}