.menu {
  margin: 0 30px;
  padding-top: 5px;
  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: rem(18px);
  }

.menu__item {
  display: inline-block;
  margin-right: rem(19px);
  margin-bottom: rem(10px);
}

.menu__item:last-child {
  margin-right: rem(0px);
}
.menu__link {
  text-decoration: none;
  letter-spacing: rem(0.9px);
  white-space: nowrap;
}