.menu {
  display: flex;
  cursor: pointer;
  margin-right: 3px;
  margin-top: 17px;
  font-size: 18px;
  }

  .menu__item {
    display: inline-block;
    margin-right: 20px;
  }

  .menu__item:last-child {
    margin-right: 0px;
  }
  .menu__title {
    text-decoration: none;
    letter-spacing: 0.8px;
  }