.menu__list {
  display: flex;
  align-items: center;
  font-size: rem(18px);
  }

.menu__item {
  display: inline-block;
  margin-right: rem(19px);
}

.menu__item:last-child {
  margin-right: rem(0px);
}
.menu__link {
  text-decoration: none;
  letter-spacing: rem(0.9px);
}