.how-we-work {
  position: relative;
  background-color: #f8faf9;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.player {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  width: 100%;
  height: 406px;
  position: relative;

  @include tablets {
    width: 95%
  }
  @include phones {
    max-height: 295px;
  }
}
.player__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.player__elem {
  width: 100%;
  height: 100%;
}
.player__splash {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  overflow: hidden;
}
.player__splash img {
  width: 100%;
  height: 90%;
}
.active .player__splash {
  display: none;
}
.player__controls {
  display: flex;
  flex-direction: row;
  background-color: #404040;
  align-items: center;
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;

  @include phones {
    justify-content: space-between;
  }
}
.player__playback {
  display: flex;
  align-items: center;
}

.player__start {
  width: 55px;
  height: 100%;
  border: none;
  background: url(../assets/play.svg) no-repeat;
  background-position: center;
  margin-right: 10px;
}
.player__start:hover {
  cursor: pointer;
}

.player__paused {
  background: url(https://3.downloader.disk.yandex.ru/preview/94e2edcc992f11d0dc19a03fc160de849fcb5a4dd03f9047f57ee29b6b945220/inf/plwDV5v8CXESIxoBrdKgZqLRT4klZFjb2YRDc_TULm7uM17VujzewcFuw6r6zVKtWYtPPeDeBP65AEHcWim8FA%3D%3D?uid=208008506&filename=pause.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  background-position: center;
}

.player__playback {
  width: 68%;
  position: relative;
  margin-right: 15px;
  @include phones {
    width: 35%;
  }
  &:before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    display: block;
    background: url(https://2.downloader.disk.yandex.ru/preview/8e8c5ede4a68456bd7a99ae9b59178050e0a004a4d6f76920e46ed876029d85e/inf/QnDpUUqjBF1j1yM6WHc6rx6DcDR5mbi9_EZPJrtm7fdtXRE3zoD-qXI1gcLFyGWovjtDzAHgymyYH6nBksLi6A%3D%3D?uid=208008506&filename=video-stick.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  }
}
.player__playback-button {
  background: #626262;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.player__volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  @include phones {
    width: 33%;
  }
}
.volume__pic {
  width: 40px;
  height: 20px;
  border: none;
  background: url(../assets/volume.svg) no-repeat;
  background-position: center;
  margin-right: 10px;
}
.volume__pic-nosound {
  background: url(https://3.downloader.disk.yandex.ru/preview/1ff454e4c736305985da183fd24879025f9278733ea0823742a1310ba5c33187/inf/J2wFxh0439UVOFRqa4BruzKhyyoFv8zjYXJ914XWi_3DZRLUUWAlfEmMBASHYA_Tji0GJJnPoGiV8N4Z3HA2PQ%3D%3D?uid=208008506&filename=nosoud.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  background-position: center;
}
.volume__playback {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 90%;
    height: 4px;
    position: absolute;
    display: block;
    background: url(https://4.downloader.disk.yandex.ru/preview/c09e44711603cd3cd1eb90cb25ff290e597641566ae7e07029401d6fdc5ceeff/inf/5a363NrPVq6DSHlgEijAUKLRT4klZFjb2YRDc_TULm52KC73enbkg20lUUmO4YPfw8hV3TeKFvdS2CVlLy96qw%3D%3D?uid=208008506&filename=volume-stick.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  }
}
.volume__playback-button {
  background: #626262;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}

iframe#yt-player {

  @include tablets {
    width: 100%;
  }


}