.reviews-section {
  position: relative;
  background: url(../assets/pattern.png) left bottom -33% no-repeat;
  &:before {
    content: url(../assets/berries.png);
    position: absolute;
    bottom: rem(-80px);
    left: 0;
    z-index: 1;
    @include small-phones {
      content: "";
    }
  }
  &:after {
    content: url(../assets/strawberry.png);
    position: absolute;
    top: rem(10px);
    right: 10%;
    @include small-phones {
      content: "";
    }
  }
}