.slider-section {
  position: relative;
  background: url(../assets/pattern-slider-section.png) right bottom -60% no-repeat, #d1d1d1;
  
  &:before {
    content: url(../assets/blueberries.png);
    position: absolute;
    bottom: rem(-70px);
    right: 0;
  }
}